*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("web1-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 95%;
    height: 10vh;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 25%;
    margin-top: 100px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 35px;
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu a{
    width: 30%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}
nav .menu a:hover{
    background-color: rgb(203, 226, 247);
    color: black;
    text-align: center;
}
main{
    width: 60%;
    height: 90%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    line-height: 50px;
    color: black;
}

/* section{

} */
section h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
section p{
    font-size: large;
    font-weight: bold;
    color: black;
}

button{
    width: 120px;
    height: 40px;
    font-size: 25px;
    text-transform: uppercase;
    border: 5px solid rgb(88, 87, 87);
    margin-left: 100px;
    /* border-bottom: #000;
    border-right: #000; */
    border-top: #fff;
    border-left: #fff;

}



/* **************************************************************** */


.container{
    margin: 100px;
    display: flex;
    /* width: 100%;
    height: 100vh; */
   
}

.form1{
    width: 50%;
    float: left;
    background-color: rgb(154, 182, 195);
    padding: 20px 150px  50px 150px;
    margin: 10px;
}
.container h3{
    font-size: 30px;
    font-weight: bold;
}

input[type="text"] {
    background-color: #fff;
    width: 250px;
    border-radius: 5px;
}
input[type="email"] {
    background-color: #fff;
    width: 250px;
    border-radius: 5px;
}
.btn{
    width: 150px;
    height: 40px;
    font-size: large;
    text-transform: uppercase;
    border-radius: 3px;
    margin-left: 50px;
}

.box{
    width: 80%;
    background-color: rgb(246, 248, 249);
    margin: 20px;
}

/* **************************************************************** */


.article{
    height: 100vh;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    background-color: blue;
    text-align: center;
}
.article h1 {
    font-size: 30px;
    color: #fff;
}

.article p{
    font-size: 20px;
    color: #fff;
}


/* **************************************************************** */


.ourtech{
    text-align: center;
    color: red;
    margin-top: 70px;
    margin-left: 450px;
    border-radius: 40px;
    border: 3px solid black;
    background-color: antiquewhite;
    width: 20%;
    
}
.ourtech h4{
    font-size: 25px;
    font-weight: bold;
}

.work{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.ourtech1{
    display: flex;
    margin-left: 200px;
    margin-right: 200px; 
    padding-bottom: 20px;
    
}

.work1{
    width: 100%;
    float: left;
}
.work2{
    width: 100%;
    /* float: left; */
}

/* **************************************************************** */


.article1{
    height: 100vh;
    width: 100%;
    padding-left: 100px;
    padding-right: 150px;
    background-color: rgb(164, 195, 252);
    border: 1px solid rgb(169, 198, 253);
    text-align: center;
}
.article1 h1 {
    font-size: 30px;
    color: #000;
}
.article1 p{
    font-size: 20px;
    color: #000;
}

.artbg{
background-color: #fff;
width: 100%;
height: 350px;
}
.artbg .artimage{
    margin-top: 40px;
}

.artimage img{
    border: bisque solid 5px;
}

/* **************************************************************** */

.team{
    width: 100%;
    height: 110vh;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aliceblue;
}
.team h1{
    font-size: 50px;
    text-transform:uppercase ;
    font-weight: bold;
}
.team p{
    font-size: 20px;
    /* font-weight: bold; */
}
.teamwork{
    display: flex;
}
.teamimg{
    float: left;
    width: 100%;
}
.feature{
    width: 100%;
}

.teamimg img{
    width: 100%;
    height: 60vh;
    border: #fff solid 2px;
    border-radius: 40%;
}

.feature li{
    font-size: 25px;
    line-height: 1;
    list-style: none;
}


/* **************************************************************** */

.ready{
    width: 100%;
    height: 85vh;
    background-color: rgb(124, 166, 245);
}

.ready p{
    font-size: 25px;
    text-align: center;
    padding: 20px 100px 50px 100px;
}
.ready .view{
   
    width: 20%;
    height: 75px;
    background-color: blue;
    text-align: center;
    margin-left: 40%;
    text-transform: uppercase;
}
.ready .view h3{
    font-size: 25px;
    color: rgb(145, 164, 240);
}

.ready .ready1{
    width: 100%;
    height: 20vh;
    background-color: darkorange;
    margin-top: 15.5vh;    
}
.ready h1{
    font-size: 50px;
    text-align: center;
    padding: 50px 100px 50px 100px;
}

/* .ready1{
    display: flex;
}
.ready1 h2{
    font-size: 50px;
    width: 65%;
}
.ready1 button{
   float: right;
   width: 15%;
   font-size: 25px;
   border: 2px solid gray;
   border-radius: 5px;
   margin-top: 30px;
} */


.upfooter{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(137, 246, 246);
    height: 25vh;
}
.upfooter1{
    display: flex;
}
.upfooter1 button{
    width: 20%;
    margin-top: 30px;
}
.upfooter1 h2{
    font-size: 40px;
}
